API_INTERNAL_PORT=3000
API_EXTERNAL_PORT=5137
POSTGRES_DB=my_db
POSTGRES_USER=app_user
POSTGRES_USER_PASSWORD=db_password
POSTGRES_ADMIN=admin
POSTGRES_ADMIN_PASSWORD=admin_password
POSTGRES_PASSWORD_FILE=/run/secrets/db_password
