INFISICAL_API_URL=http://localhost:80 -> infisical connection url
INFISICAL_CLIENT_ID= 123 -> machine entity id
INFISICAL_CLIENT_SECRET= 123 -> machine entity auth secret
INFISICAL_PROJECT_ID=  123 -> created project id